table{
    border-collapse: collapse;
    font-family: Calibri;
  }
  
  .color-1{
    background-color: rgb(236, 189, 34);
    color: gray;
    font-size: 29px;
  }
  
  th{
    background-color: rgb(221, 236, 221);
  }
  
  td{
    text-align: right;
  }
  
  .list{
    text-align: left;
  }
  
  .text{
    text-align: left;
    background-color: rgb(50, 164, 240);
    border: 2px solid black;
    font-size:12px;
    font-weight: bold;
  }
  
  .text-1{
    border: 2px solid black;
  }
  
  .text-2{
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
  